<strong>{{ validator_display }}</strong>
👤 Self Stake: <strong>{{ self_stake }} {{ token_ticker }}</strong>
{% if active_nominations %}
<strong>▶️ ACTIVE {{ active_nomination_total}} {{ token_ticker }}</strong>{% for active_nomination in active_nominations %}
<pre>{{ active_nomination.1 }}</pre> • <pre>{{ active_nomination.0 | truncate(length=9) }}{% if active_nomination.2 %} (1KV){% endif %}</pre>{% endfor %}
{% else %}▶️ No active nominations.{% endif %}
{% if inactive_nominations %}
<strong>⏸ INACTIVE {{ inactive_nomination_total}} {{ token_ticker }}</strong>{% for inactive_nomination in inactive_nominations %}
<pre>{{ inactive_nomination.1 }}</pre> • <pre>{{ inactive_nomination.0 | truncate(length=9) }}{% if inactive_nomination.2 %} (1KV){% endif %}</pre>{% endfor %}{% else %}⏸ No inactive nominations.{% endif %}

<i>ℹ️ All amounts in {{ token_ticker }}.</i>