<strong>{{ validator_display }}</strong>
⭐️ received a new nomination{% if notification_period_type %} in the last {% if notification_period > 1 %}{{ notification_period }} {% endif %}{{ notification_period_type }}{% if notification_period > 1 %}s{% endif %}{% endif %}!
Nominator: <a href="https://{{ chain }}.subscan.io/account/{{ nominator_address }}">{{ nominator_display }}</a>{% if is_onekv %} (DN){% endif %}
Amount: <strong>{{ nomination_amount }} {{ token_ticker }}</strong>
Nominee Count: <strong>{{ nominee_count }}</strong>