<strong>{{ validator_display }}</strong>
🥁 declared a new intention to validate{% if notification_period_type %} in the last {% if notification_period > 1 %}{{ notification_period }} {% endif %}{{ notification_period_type }}{% if notification_period > 1 %}s{% endif %}{% endif %}!
⚓️ Controller <a href="https://{{ chain }}.subscan.io/account/{{ controller_address }}">{{ controller_display }}</a>
💷 {{ commission }}% commission
{% if blocks_nominations %}⛔️ Blocks nominations{% else %}🙌 Does not block nominations{% endif %}
You may view the extrinsic's block <a href="https://{{ chain }}.subscan.io/block/{{ block_hash }}">here</a>.