name: Format, Clippy and Tests

on:
  push:
    branches:
      - development
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  format-clippy-test:
    name: Format, Clippy and Tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build network PostgreSQL Docker image
        run: docker build -t helikon/subvt-network-postgres --no-cache -f $GITHUB_WORKSPACE/_docker/network/01-subvt-network-postgres.dockerfile $GITHUB_WORKSPACE
      - name: Build app PostgreSQL Docker image
        run: docker build -t helikon/subvt-app-postgres --no-cache -f $GITHUB_WORKSPACE/_docker/app/01-subvt-app-postgres.dockerfile $GITHUB_WORKSPACE
      - name: Run Docker network Redis
        run: docker run -d -t -p 6379:6379 redis:7.0
      - name: Run Docker network PostgreSQL
        run: docker run -d -t -p 15432:5432 helikon/subvt-network-postgres
      - name: Run Docker app PostgreSQL
        run: docker run -d -t -p 25432:5432 helikon/subvt-app-postgres
      - name: Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly # -2022-07-13 # toolchain
          components: clippy, rustfmt
          override: true
      - run: rustup update
      - run: rustup update nightly # -2022-07-13 # toolchain
      - run: rustup default nightly # -2022-07-13 # toolchain
      - run: rustup target add wasm32-unknown-unknown --toolchain nightly # -2022-07-13 # toolchain
      - run: rustup default stable
      - name: Format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          toolchain: nightly # -2022-07-13 # toolchain
          command: clippy
          args: --all-targets -- -D warnings -W clippy::cognitive_complexity
      - name: Test
        uses: actions-rs/cargo@v1
        env:
          SUBVT_ENV: 'test'
        with:
          command: test
          args: -- --test-threads=1
